:root {
    --text-light: #262b46;
    --text-dark: #b4c6ff;
}
body {
    margin-top: 0;
    margin-inline: 15px;
    font-size: 15pt;
}
h1 {
    display: block;
    overflow: hidden;
    text-wrap: none;
}
h2 {
    display: block;
    margin-left: 2rem;
    margin-top: 30px;
    margin-bottom: 10px;
}
.item-heading {
    text-decoration: underline;
}
a {
    color: inherit;
    text-decoration: none;
}
a.link {
    display:list-item;
    margin-block: 4px;
    margin-left: 4rem;
}
a:hover {
    text-decoration: underline;
}