:root {
    color-scheme: dark ;
    --base-dark: #262b46;
    --base-light: #b4c6ff;
    --base: light-dark(var(--base-light),var(--base-dark));
    --text-light: black;
    --text-dark: white;
    --text: light-dark(var(--text-light),var(--text-dark));
    --darker: color-mix(in hsl, var(--base) 80%, black 20%);
    color: hsla;
}

body {
    background-color: var(--base);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    margin: 0;
}

.icon path {
    stroke: white !important;
}

.flatbutton {
    background-color: transparent;
    border: none;
}

.flatbutton svg {
    height: 100%;
    width: 100%;
}

.embeddedTopbar {
    width: 100%;
    height: 60px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}